
  body
  {
    margin: 0;
      background: #111;
      color: #f4f4f4;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    border-bottom: 4px solid #481a67;
    padding: 0px 175px;
  }
  
  
  .right_nav {
    display: flex;
  }
  .profile_paragraph{
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    margin: 30px 75px 0px;
  }
  
  table{
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin: 10px 75px 0px;
    width: 50%;
    border-spacing: 0px 5px;
    border-collapse: collapse;
  }
  
  td{
    padding: 8px;
  }
  
  tr:nth-child(odd){
    background-color: #111;
  }
  
  tr:nth-child(even){
    background-color: #281437;
  }
  
  dt:nth-child(odd){
    background-color: #111;
  }
  
  dt:nth-child(even){
    background-color: #281437;
  }
  
  .table_head{
    font-size: 23px;
  }
  
  .person_score{
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin: 0px 75px;
  }
  
  .left_nav {
    display: flex;
  }
  
  .alg_title a:last-child{
    position: relative; 
    font-size: 30px; 
    top:-4px;
  }
  .right_nav p a{
    padding: 0 10px 0 0;
  }
  header{
    background-color: #111;
  }
  .navbar a {
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    color: #f4f4f4;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    padding: 0px 20px;
  }
  
  .navbar a:hover {
    color: #8b39c2;
  }
  
  .notifications{
    color: #f4f4f4;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    margin: 20px 75px 0px;
  
  }
  
  .notifications dt{
    padding: 5px;
  }
  
  
  .modal {
    position: absolute;
    visibility: hidden;
    overflow-y: scroll;
    top: -1000px;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 120px 15px;
  }
  
  .modal_active {
    text-align: center;
    position: fixed;
    top: 0;
    visibility: visible;
  }
  
  .modal__content_deployed {
    max-width: 500px;
    padding: 25px;
    background: #111;
    border-radius: 8px;
    position: relative;
    box-shadow: 0 4px 5px rgb(0, 0, 0);
  }
  
  .modal__content {
    max-width: 500px;
    padding: 25px;
    background: #111;
    border-radius: 8px;
    position: relative;
    box-shadow: 0 4px 5px rgb(0, 0, 0);
  }
  
  .modal__close-button {
    color:#f4f4f4;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    position: absolute;
    right: 0;
    top: 0;
    background: none;
    cursor: pointer;
    transition: .3s;
    outline: none;
  }
  
  .modal__close-button:hover {
    transition: .3s;
    transform: rotate(180deg);
  }
  
  .modal__title {
    font-size: 1.5rem;
    margin: 0px 0 0 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .modal__text {
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin: 10px 0 0px;
  }
  
  .modal__points {
    text-align: right;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 35px;
    margin: -20px 0 0px;
    color: rgb(167, 167, 167);
  }
  
  .modal__description {
    font-size: 1.125rem;
  }
  
  .button {
    background-color: rgb(42, 42, 42);
    margin: 5px 0 15px;
    color: #f4f4f4;
    padding: 20px 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    border-radius: 16px;
    border: 1px solid rgb(86, 86, 86);
  }
  
  .button:active {
    background-color: rgb(213, 213, 213);
    font-size: 30px;
    padding: 15px 70px;
    margin: 10px 0 20px;
  }
  
  .button:hover {
    background-color: rgb(74, 74, 74);
  }
  
  .page_title {
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 70px;
    margin: 50px 75px 0px;
  }
  
  .task_table {
    height: 110px;
    text-align: center;
    width: 215px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 12px;
    margin: 20px 0px 0px 20px;
    border: 5px solid  #481a67;
    padding: 15px 15px 0px 15px;
  }
  
  .task_table:hover {
    height: 110px;
    text-align: center;
    width: 215px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 12px;
    margin: 20px 0px 0px 20px;
    border: 5px solid #6d6d6d;
    padding: 15px 15px 0px 15px;
    background-color: #252525;
  }
  
  .title {
    font-size: 18px;
  }
  
  .path {
    font-size: 12px;
    color: rgb(130, 130, 130);
    margin: 10px 0px 0px;
  }
  
  .grade {
    font-size: 18px;
    margin: 10px 0px 0px;
  }
  
  .titles {
    margin: 0px;
    align-items: flex;
    display: flex;
    flex-wrap: wrap;
    margin: 40px 0px 0px 55px;
  }