<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Профиль</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/studentglobal.css">
    <link rel="stylesheet" href="../static/styles.css">
</head>

<body data_theme="dark">
<div class="cursor">
    <img id = "cursor" src="../static/img/default-cursor.png" alt="Active Cursor"  class="active-cursor">
</div>
    <header>
        <div class="navbar navbar_mobile">
            <div class="left_nav">
                <a class="alg_title" href="startpage">CTF</a>
                <a href="tasks">Таски</a></p>
            </div>
            <div class="right_nav">
                <a href="profile" class="profile">
                    <div class="profile_images">
                        <img id="current_profile" src="../static/img/blackPerson.png" class="profile_image"
                            alt="Профиль">
                        <img id="profile" src="../static/img/orangeProfile.png" class="profile_image" alt="Профиль">
                        <img id="circle" src="../static/img/circle.png" class="circle block" alt="Круг">
                    </div>
                    <div class="profile_text">Профиль</div>

                </a>
                <div class="images_button">
                    <div class="theme_images" id="theme-button">
                        <img id="current_theme" class="theme_image" src="../static/img/blackMoon.png" alt="Луна">
                        <img id="theme" class="theme_image" src="../static/img/orangeMoon.png" alt="Луна">
                    </div>
                    <div class="exit_images">
                        <img id="current_exit" class="exit_image" src="../static/img/blackExit.png" alt="выход">
                        <img id="exit" class="exit_image" src="../static/img/orangeExit.png" alt="выход">
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div>
        <p class="page_title">
        </p>
        <canvas id="myChart"></canvas>
        <p class="person_score">
        </p>
        <p class="profile_paragraph">
            Задачи
        </p>
        <p class="profile_paragraph">
            Взятые
        </p>

        <table id="taken">
            <tr class="table_head">
                <td class="title_td">Название</td>
                <td>Балл</td>
            </tr>
        </table>
        <p class="profile_paragraph">
            Принятые
        </p>

        <table id="accepted" class="table_exept_task">
            <tr class="table_head">
                <td class="title_td">Название</td>
                <td>Балл</td>
            </tr>
        </table>
    </div>

    <script src="../static/profile.js"></script>
    <script src="../static/dashboard.js"></script>
    <script src="../static/notifications.js"></script>
    <script src="../static/studentThemeSwitcher.js"></script>
    <script src="../static/script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        var ctx = document.getElementById('myChart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: ['1 день','2 день', "3 день", "4 день", "5 день", "6 день"],
                datasets: [{
                    label: '# of Votes',
                    data: [2,3,0,5,0,1],
                    backgroundColor: 'rgba(255, 99, 132, 0.2)',
                    borderColor: 'rgba(255, 137, 24, 1)',
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    </script>
</body>

</html>