<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign In</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/main.css">
    <link rel="stylesheet" type="text/css" href="../static/light.css" id="theme-link">
</head>

<body>
<header>
    <div class="navbar">
        <div class="left_nav">
            <a class="alg_title" href="startpage">Алгосы</a>
            <a href="tasks">Задачи</a></p>
        </div>
        <div class="right_nav">
            <a href="notifications" class="notification">
                <div class="notification_images">
                    <img id="current_notification" class="notification_image"
                         src="../static/img/blackNotification.png" alt="Уведомления">
                    <img id="notification" class="notification_image" src="../static/img/orangeNotification.png"
                         alt="Уведомления">
                </div>
                Уведомления
            </a>
            <a href="profile" class="profile">
                <div class="profile_images">
                    <img id="current_profile" src="../static/img/blackPerson.png" class="profile_image"
                         alt="Профиль">
                    <img id="profile" src="../static/img/orangeProfile.png" class="profile_image" alt="Профиль">
                </div>
                Профиль
            </a>
            <div class="images_button">
                <div class="theme_images" id="theme-button">
                    <img id="current_theme" class="theme_image" src="../static/img/blackMoon.png" alt="Луна">
                    <img id="theme" class="theme_image" src="../static/img/orangeMoon.png" alt="Луна">
                </div>
                <div class="exit_images">
                    <img id="current_exit" class="exit_image" src="../static/img/blackExit.png" alt="выход">
                    <img id="exit" class="exit_image" src="../static/img/orangeExit.png" alt="выход">
                </div>
            </div>
        </div>
    </div>
</header>

<!-- -->

<div class="signin-container">
    <div class="frame frame-short">

        <div class="signin-nav">
            <div class="btn">
                <ul class="links">
                    <li class="signin-active"><a class="btn-top">Войти</a></li>
                    <li class="signup-inactive"><a class="btn-top">Зарегистрироваться</a></li>
                </ul>
                <div class="slider-box">
                    <div class="slider"></div>
                </div>
            </div>
        </div>

        <form action="" class="login-form active">
            <div class="login-box">
                <div class="form-group login-group">
                    <label for="username">Логин</label>
                    <input class="form-styling" type="text" id="username">

                    <label for="password">Пароль</label>
                    <input class="form-styling" type="password" id="password"/>
                </div>

                <div class="signin-box form-group inactive">
                    <label for="confirmPassword">Повторите пароль</label>
                    <input class="form-styling" type="password" id="confirmPassword">

                    <input class="custom-checkbox" type="checkbox" id="isStudent" name="isStudent" checked/>
                    <label for="isStudent" class="is-student">Я студент</label>

                    <div class="teacher-field">
                        <label for="teacher">имя преподавателя</label>
                        <input class="form-styling" type="text" id="teacher">
                    </div>
                </div>

                <div class="form-group">
                    <input class="submit-btn" type="submit" value="Войти"/>
                </div>


            </div>
        </form>
    </div>
</div>


<script src="../static/singIn.js"></script>
<script src="../static/themeChanger.js"></script>
</body>
</html>