<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Алгосы</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css">
</head>

<body>
    <header>
        <div class="navbar">
            <div class="left_nav">
                <p class="alg_title"> <a  href="startPage.html">Алгосы</a></p>
                <p> <a href="rating.html">Рейтинг</a></p>
                <p> <a href="tasks.html">Задачи</a></p>
            </div>
            <div class="right_nav" >
                <p>
                    <a href="notifications.html" >
                        <img src="../static/img/notification.png" style="width: 23px;" alt="Уведомления">
                        <p>Уведомления</p>
                    </a>
                </p>
                <p>
                    <a href="profile.html">
                        <img src="../static/img/person.png" alt="Профиль">
                        <p>Профиль</p>
                    </a>
                </p>
                <p> <img src="../static/img/exit.png" alt="выход"> </p>
            </div>
        </div>
    </header>

</body>

</html>