<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>StudentRegistration</title>
    <link rel="stylesheet" type="text/css" href="../static/styles.css">
</head>
<body>
<div class="reg_container">
    <h1>Регистрация студента</h1>
    <form>
        <label for="inputField"></label><input type="text" id="inputField" placeholder="Введите данные">
        <br>
        <div class="reg_btn">
            <button class="stnd_reg_btn" type="submit">Зарегистрироваться</button>
        </div>
    </form>
</div>
</body>
</html>