<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Проект</title>
    <link rel="stylesheet" href="../static/styles.css" />
    <link rel="stylesheet" href="../static/tasks.js" />
</head>

<body>
    <header>
        <div class="navbar">
            <div class="left_nav">
                <p class="alg_title"> <a  href="startPage">Алгосы</a></p>
                <p> <a href="rating">Рейтинг</a></p>
                <p> <a href="tasks">Задачи</a></p>
            </div>
            <div class="right_nav" >
                <p>
                    <a href="notifications" >
                        <img src="../static/img/notification.png" style="width: 23px;" alt="Уведомления">
                        <p>Уведомления</p>
                    </a>
                </p>
                <p>
                    <a href="profile">
                        <img src="../static/img/person.png" alt="Профиль">
                        <p>Профиль</p>
                    </a>
                </p>
                <p> <img src="../static/img/exit.png" alt="выход"> </p>
            </div>
        </div>
    </header>

    <div id="modal" class="modal">
        <div class="modal__content_deployed">
            <button class="modal__close-button">
                &#10006;
            </button>
            <p class="modal__title">
                Эрен Уничтожает всех титанов
            </p>
            <p class="modal__text">
                Эрен Йегер продолжает идти вперед к своей цели - он хочет уничтожить всех титанов.Эрен хочет расчистить
                от титанов дорогу к стене Мария, чтобы начать операцию по возвращению Шиганшины.
            </p>
            <p class="modal__points">
                ...
            </p>
            <p>
                <button class="button button1">Взять задачу</button>
            </p>
        </div>
    </div>
    <p class="page_title">
        Задачи
    </p>
    <div class="titles">
        <div class="task_table">
            <div class="title">
                Эрен уничтожает всех титанов
            </div>
            <div class="path">
                Длинный контест 5 задача С
            </div>
            <div class="grade">
                2.854
            </div>
        </div>

        <div class="task_table">
            <div class="title">
                Эрен уничтожает всех титанов
            </div>
            <div class="path">
                Длинный контест 5 задача С
            </div>
            <div class="grade">
                2.854
            </div>
        </div>

        <div class="task_table">
            <div class="title">
                Эрен уничтожает всех титанов
            </div>
            <div class="path">
                Длинный контест 5 задача С
            </div>
            <div class="grade">
                2.854
            </div>
        </div>

        <div class="task_table">
            <div class="title">
                Эрен уничтожает всех титанов
            </div>
            <div class="path">
                Длинный контест 5 задача С
            </div>
            <div class="grade">
                2.854
            </div>
        </div>

        <div class="task_table">
            <div class="title">
                Эрен уничтожает всех титанов
            </div>
            <div class="path">
                Длинный контест 5 задача С
            </div>
            <div class="grade">
                2.854
            </div>
        </div>

        <div class="task_table">
            <div class="title">
                Эрен уничтожает всех титанов
            </div>
            <div class="path">
                Длинный контест 5 задача С
            </div>
            <div class="grade">
                2.854
            </div>
        </div>

        <div class="task_table">
            <div class="title">
                Эрен уничтожает всех титанов
            </div>
            <div class="path">
                Длинный контест 5 задача С
            </div>
            <div class="grade">
                2.854
            </div>
        </div>
    </div>


    <script src="../static/tasks.js"></script>
</body>

</html>