<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Таски</title>
    <link rel="stylesheet" type="text/css" href="../static/main.css">
    <link rel="stylesheet" type="text/css" href="../static/light.css" id="theme-link">
</head>

<body>
    <header>
        <div class="navbar">
            <div class="left_nav">
                <a class="alg_title" href="startpage">Алгосы</a>
                <a href="tasks">Задачи</a></p>
            </div>
            <div class="right_nav">
                <a href="notifications" class="notification">
                    <div class="notification_images">
                        <img id="current_notification" class="notification_image" src="../static/img/blackNotification.png" alt="Уведомления">
                        <img id="notification" class="notification_image" src="../static/img/orangeNotification.png" alt="Уведомления">
                    </div>
                    Уведомления
                </a>
                <a href="profile" class="profile">
                    <div class="profile_images">
                        <img id="current_profile" src="../static/img/blackPerson.png" class="profile_image" alt="Профиль">
                        <img id="profile" src="../static/img/orangeProfile.png" class="profile_image" alt="Профиль">
                    </div>
                    Профиль
                </a>
                <div class="images_button">
                    <div class="theme_images" id="theme-button">
                        <img id="current_theme" class="theme_image" src="../static/img/blackMoon.png" alt="Луна">
                        <img id="theme" class="theme_image" src="../static/img/orangeMoon.png" alt="Луна">
                    </div>
                    <div class="exit_images">
                        <img id="current_exit" class="exit_image" src="../static/img/blackExit.png" alt="выход">
                        <img id="exit" class="exit_image" src="../static/img/orangeExit.png" alt="выход">
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div id="modal" class="modal">
        <div class="modal__content_deployed">
            <button class="modal__close-button">
                &#10006;
            </button>
            <p id="modal__title" class="modal__title">
                Эрен Уничтожает всех титанов
            </p>
            <p id="modal__text" class="modal__text">
                Эрен Йегер продолжает идти вперед к своей цели - он хочет уничтожить всех титанов.Эрен хочет расчистить
                от титанов дорогу к стене Мария, чтобы начать операцию по возвращению Шиганшины.
            </p>
            <p class="modal__points">
                ...
            </p>
            <p>
                <button class="button button1">Взять задачу</button>
            </p>
        </div>
    </div>
    <p class="page_title">
        Задачи
    </p>
    <div id = "titles" class="titles">
    </div>
    <script src="../static/tasks.js"></script>
    <script src="../static/themeChanger.js"></script>
</body>
</html>