<!---#aaff00;-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Алгосы</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/teacherglobal.css">
    <link rel="stylesheet" href="../static/styles.css">
</head>

<body data_theme="dark">
<div class="cursor">
    <img id = "cursor" src="../static/img/default-cursor.png" alt="Active Cursor"  class="active-cursor">
</div>
    <header>
        <div class="navbar navbar_mobile">
            <div class="left_nav">
                <a class="alg_title" href="teacherstartpage">CTF</a>
                <a href="teachertasks">Таски</a></p>
                <a href="teachergroup">Участники</a></p>
            </div>
            <div class="right_nav">
                <div class="images_button">
                    <div class="theme_images" id="theme-button">
                        <img id="current_theme" class="theme_image" src="../static/img/blackMoon.png" alt="Луна">
                        <img id="theme" class="theme_image" src="../static/img/orangeMoon.png" alt="Луна">
                    </div>
                    <div class="exit_images">
                        <img id="current_exit" class="exit_image" src="../static/img/blackExit.png" alt="выход">
                        <img id="exit" class="exit_image" src="../static/img/orangeExit.png" alt="выход">
                    </div>
                </div>
            </div>
        </div>
    </header>
    <img id="logo" class="logo" src="../static/img/btreelogoblack.png" alt="бинарное дерево">
    <script src="../static/teacherThemeSwitcher.js"></script>
<script src="../static/script.js"></script>
</body>

</html>