<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Профиль</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/teacher.css">
</head>

<body>
    <header>
        <div class="navbar">
            <div class="left_nav">
                <a class="alg_title" href="teacherstartpage">Алгосы</a>
                <a href="teachertasks">Задачи</a></p>
                <a href="teachergroup">Группа</a></p>
            </div>
            <div class="right_nav">
                <div class="images_button">
                    <div class="theme_images" id="theme-button">
                        <img id="current_theme" class="theme_image" src="../static/img/blackMoon.png" alt="Луна">
                        <img id="theme" class="theme_image" src="../static/img/orangeMoon.png" alt="Луна">
                    </div>
                    <div class="exit_images">
                        <img id="current_exit" class="exit_image" src="../static/img/blackExit.png" alt="выход">
                        <img id="exit" class="exit_image" src="../static/img/orangeExit.png" alt="выход">
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="title_group">
        <div class="page_title">Группа</div>
        <div class="group">ФТ-204</div>
    </div>
    <table id="students">
        <tr class="table_title">
            <td>Студент</td>
            <td>
                <div class="price">Балл
                    <div id="sort_sign_group" class="sort_sign"> &#8597;</div>
                </div>
            </td>
        </tr>
    </table>
    <script src="../static/teacherGroup.js"></script>
</body>

</html>