:root {
    --color-body: #111;
    --color-text: #FE28A2;
    --color-child-odd: #111;
    --color-child-even: #1a1d24;
    --color-border-bottom: #FE28A2;
    --size-border-bottom: 4px;
    --color-navbar-hover: #FE28A2;
    --color-modal-background: rgba(0, 0, 0, 0.5);
    --color-box-shadow: rgb(0, 0, 0);
    --color-points: rgb(167, 167, 167);
    --color-button-background: #111111;
    --color-button-border: #FE28A2;
    --color-button-active: #252525;
    --color-button-hover: #252525;
    --color-path: rgb(130, 130, 130);
    --color-task-table-border-hover: #FE28A2;
    --size-task-table-border: 5px;
    --color-task-table-background: #252525;
    --color-task-table-border: #FE28A2;
    --size-border-button: 3px;
    --color-button-border-hover: #6d6d6d;
    --slider-color: linear-gradient(to right,
            rgba(255, 24, 171, 0.92),
            rgb(255, 24, 171));
    --is-student-border: 2px solid #c2c2c2;
    --is-student-background: rgba(161, 159, 159, 0.63);
    --color-signin-shadow: rgb(0, 0, 0);
    --color-submit-button: rgba(208, 208, 208, 0.38);
    --color-signin-container-border: rgb(0, 0, 0);
    --font-main: Arial, Helvetica, sans-serif;
    --color-border-checkbox: #FE28A2;
    --outline-checbox-label: 2px;
    --color-border-checkbox-checked: #FE28A2;
    --image-check-mark: url(../static/img/whiteCheckMark.png);
    --color-signin-container: rgba(35, 35, 35, 0.82);
    --color-input-background: rgba(141, 141, 141, 0.55);
    --color-submit-button-border: var(--color-button-border);
    --color-task-block: #6d6d6d;
    --color-text-block: rgb(167, 167, 167);
    --color-text-selected: #e7e7e7;
    --color-background-selected: #FE28A2;
    --color-border-selected: #FE28A2;
    --color-background-button:#111;
    --color-days-rec: rgb(80, 80, 80);
    --color-time-over:#f99696;
}