:root {
    --color-body: #f4f4f4;
    --color-text: #111;
    --color-child-odd: #f4f4f4;
    --color-child-even: rgb(234, 234, 234);
    --color-border-bottom: rgb(238, 238, 238);
    --size-border-bottom: 3px;
    --color-navbar-hover: #ff5e00;
    --color-modal-background: rgba(0, 0, 0, 0.5);
    --color-box-shadow: rgb(102, 102, 102);
    --color-points: rgb(167, 167, 167);
    --color-button-background: rgb(232, 232, 232);
    --color-button-border: rgb(130, 130, 130);
    --color-button-active: rgb(220, 220, 220);
    --color-button-hover: rgb(220, 220, 220);
    --color-path: rgb(130, 130, 130);
    --color-task-table-border-hover: #111111;
    --size-task-table-border: 2px;
    --color-task-table-background: rgb(234, 234, 234);
    --color-task-table-border: #111111;
    --size-border-button: 3px;
    --color-button-border-hover: #5f5f5f;
    --slider-color: linear-gradient(to right,
    rgb(255, 195, 110),
    rgb(255, 146, 91));
    --is-student-border: 2px solid #000;
    --is-student-background: rgba(0, 0, 0, 0.56);
    --color-input-background: linear-gradient(to right, rgba(232, 232, 232, 0.82), rgb(215, 215, 215));
    --color-signin-shadow: rgb(128, 128, 128);
    --color-submit-button: rgb(110, 110, 110);
    --color-signin-container-border: rgba(229, 229, 229, 0.55);
}

body {
    margin: 0;
    background-color: var(--color-body);
    color: var(--color-text);
}

.logo {
    width: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.left_nav {
    display: flex;
}

.right_nav {
    display: flex;
}

.table_exept_task {
    margin-bottom: 50px;
}

.navbar {
    display: flex;
    vertical-align: middle;
    justify-content: space-between;
    padding: 0px 100px;
    border-bottom: var(--size-border-bottom) solid var(--color-border-bottom);
    color: var(--color-text);
}

img {
    min-width: 30px;
}

.right_nav a img {
    margin-right: 5px;
}

.images_button img {
    width: 30px;
    vertical-align: middle;
    text-align: center;
    margin: 20px 20px;
}

.images_button {
    display: inline-flex;
}

.navbar a {
    vertical-align: middle;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 23px;
    display: flex;
    margin: 20px 20px;
    color: var(--color-text);
}

.navbar a:hover {
    color: var(--color-navbar-hover);
}

.profile_paragraph {
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    margin: 30px 75px 0px;
}

table {
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin: 10px 75px 0px;
    width: 50%;
    border-spacing: 0px 5px;
    border-collapse: collapse;
}

td {
    padding: 8px;
}

.person_score {
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin: 0px 75px;
}

.alg_title a:last-child {
    position: relative;
    font-size: 25px;
    top: -4px;
}

.notifications {
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    margin: 20px 75px 0px;
    color: var(--color-text);
}

.notifications dt {
    padding: 5px;
}

.modal {
    position: absolute;
    visibility: hidden;
    overflow-y: scroll;
    top: -1000px;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 120px 15px;
    background-color: var(--color-modal-background);
}

.modal_active {
    text-align: center;
    position: fixed;
    top: 0;
    visibility: visible;
}

.modal__content_deployed {
    max-width: 500px;
    padding: 25px;
    border-radius: 8px;
    position: relative;
    background: var(--color-body);
    box-shadow: 0 4px 5px var(--color-box-shadow);
}

.modal__content {
    max-width: 500px;
    padding: 25px;
    border-radius: 8px;
    position: relative;
    background: var(--color-body);
    box-shadow: 0 4px 5px var(--color-box-shadow);
}

.modal__close-button {
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    position: absolute;
    right: 0;
    top: 0;
    background: none;
    cursor: pointer;
    transition: .3s;
    outline: none;
    color: var(--color-text);
}

.modal__close-button:hover {
    transition: .3s;
    transform: rotate(180deg);
}

.modal__title {
    font-size: 1.5rem;
    margin: 0px 0 0 0;
    font-family: Arial, Helvetica, sans-serif;
}

.modal__text {
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin: 10px 0 0px;
}

.modal__points {
    text-align: right;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 35px;
    margin: -20px 0 0px;
    color: var(--color-points);
}

.modal__description {
    font-size: 1.125rem;
}

.button {
    margin: 15px 0 0px;
    padding: 20px 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    border-radius: 16px;
    background-color: var(--color-button-background);
    color: var(--color-text);
    border: var(--size-border-button) solid var(--color-button-border);
}

.button:active {
    background-color: var(--color-button-active);
    border: var(--size-border-button) solid var(--color-button-border-hover);
}

.page_title {
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 80px;
    margin: 50px 75px 0px;
}

.task_table {
    height: 110px;
    text-align: center;
    width: 215px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 12px;
    margin: 20px 0px 0px 20px;
    padding: 15px 15px 0px 15px;
    border: var(--size-task-table-border) solid var(--color-task-table-border);
}

.task_table:hover {
    height: 110px;
    text-align: center;
    width: 215px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 12px;
    margin: 20px 0px 0px 20px;
    padding: 15px 15px 0px 15px;
    border: var(--size-task-table-border) solid var(--color-task-table-border-hover);
    background-color: var(--color-task-table-background);
}

.title {
    font-size: 18px;
}

.path {
    font-size: 12px;
    margin: 10px 0px 0px;
    color: var(--color-path);
}

.grade {
    font-size: 18px;
    margin: 10px 0px 0px;
}

.titles {
    margin: 0px;
    align-items: flex;
    display: flex;
    flex-wrap: wrap;
    margin: 40px 0px 0px 55px;
}

.notification_images .notification_image:nth-of-type(2) {
    display: none;
}

.notification:hover .notification_image:nth-of-type(1) {
    display: none;
}

.notification:hover .notification_image:nth-of-type(2) {
    display: block;
}

.notification:hover {
    cursor: pointer;
}

.profile_images .profile_image:nth-of-type(2) {
    display: none;
}

.profile:hover .profile_image:nth-of-type(1) {
    display: none;
}

.profile:hover .profile_image:nth-of-type(2) {
    display: block;
}

.profile:hover {
    cursor: pointer;
}

.theme_images .theme_image:nth-of-type(2) {
    display: none;
}

.theme_images:hover .theme_image:nth-of-type(1) {
    display: none;
}

.theme_images:hover .theme_image:nth-of-type(2) {
    display: block;
}

.theme_image:hover {
    cursor: pointer;
}

.exit_images .exit_image:nth-of-type(2) {
    display: none;
}

.exit_images:hover .exit_image:nth-of-type(1) {
    display: none;
}

.exit_images:hover .exit_image:nth-of-type(2) {
    display: block;
}

.exit_image:hover {
    cursor: pointer;
}

tr:nth-child(odd) {
    background-color: var(--color-child-odd);
}

tr:nth-child(even) {
    background-color: var(--color-child-even);
}

dt:nth-child(odd) {
    background-color: var(--color-child-odd);
}

dt:nth-child(even) {
    background-color: var(--color-child-even);
}

.button:hover {
    background-color: var(--color-button-hover);
    border: var(--size-border-button) solid var(--color-button-border-hover);
}

/*регистрация*/
.role_container {
    zoom: 1.6;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

summary::-webkit-details-marker {
    display: none;
}

/* Chrome, Opera, Safari */
details summary::-webkit-details-marker {
    display: none;
}

details :focus {
    outline: 0;
}

/* Firefox */
details,
summary {
    display: block;
}

details summary:before {
    content: "";
}

details[open] summary:before {
    content: "";
}

summary::after {
    content: "...";
    float: right;
    margin: -20px 10px 0 0;
    padding: 0;
    text-align: right;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 35px;
    color: var(--color-points);
}

details[open] summary::after {
    content: "-";
}

.dedline_student {
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin: 0px 75px 0px;
}

.limit_modal {
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin: 20px 0px 0px;
    color: var(--color-text);
}

.button_forbidden {
    display: none;
}

/*registration*/

.signin-container {
    /*overflow: hidden;*/
    margin: 50px auto;
    display: flex;
    justify-content: center;
    height: auto;
    width: 500px;
    background-color: var(--color-body);
    box-shadow: 8px 10px 10px var(--color-signin-shadow);
    position: relative;
    border-radius: 35px;
    font-family: Arial, Helvetica, sans-serif;
    border-top: solid 3px var(--color-signin-container-border);
}

.frame {
    /*overflow: hidden;*/
    -webkit-transition: height .5s ease;
    -o-transition: height .5s ease;
    transition: height .5s ease;
    width: 100%;
    padding-top: 20px;
    /*outline: 2px solid rgba(38, 231, 151, 0.5);*/
    /*transition: all .5s ease;*/
    margin-left: auto;
    margin-right: auto;
    display: grid;
    column-gap: 10px;
    row-gap: 10px;
    justify-items: center;
    justify-content: center;
    /*align-items: center;*/
    grid-template-columns: 1fr;
    grid-template-rows: 120px 300px;
    grid-template-areas: "A"
                         "B";

}

.frame-long {
    height: 710px;
}

.frame-short {
    height: 520px;
}

.signin-nav {
    /*outline: 2px solid rgba(243, 185, 40, 0.71);*/
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 80px;
    width: 480px;
    position: relative;
    display: grid;
    place-items: center;
    grid-area: A;
    justify-content: space-evenly;
    /*margin-left: 10px;*/
    /*margin-right: 10px;*/
}


.btn ul {
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 23px;
    height: 60px;
    width: 300px;
    margin: 20px auto;
    padding-left: 50px;
    padding-right: 50px;
    /*box-shadow: 10px 10px 15px rgb(255, 94, 0);*/
    border-radius: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: var(--color-text);
}

.btn {
    /* border: 2px solid #1a1d24;*/
    /*background: rgba(59, 228, 214, 0.73);*/
    width: auto;
}

.btn-top {
    /*border: 2px solid #1a1d24;*/
    width: auto;
}

.btn li:hover {
    color: var(--color-navbar-hover);
    cursor: pointer;
}

.btn-top {
    margin-left: 25px;
    margin-right: 25px;
}

.slider-box {
    position: relative;
    margin-right: 25px;
    margin-left: 25px;
    bottom: 20px;
    height: 20px;
    /*border: 2px solid #1a1d24;*/
    /*background: #3B73E4;*/

}

.slider {
    height: 5px;
    width: 86px;
    bottom: 10px;
    left: 0;
    position: relative;
    border-radius: 25px;
    background-image: var(--slider-color);
    transition: all 0.5s ease-in-out;
}

.login-form, .signin-form {
    /*display: block;*/
    /*flex-shrink: 0;*/
    /*grid-area: B;*/
    /*outline: 2px solid rgba(231, 38, 38, 0.83);*/
    width: 420px;
    height: auto;
    /*margin-right: 20px;*/
    /*margin-left: 35px;*/

    position: relative;
    transition: translate 0.5s ease-in-out;
    margin-bottom: 20px;
}


.login-box {
    /*display: flex;*/
    /*flex-direction: column;*/

    /*transition: all 0.5s ease-in-out;*/
    /*border: none;*/
    /*background-color: transparent;*/
    margin-top: 25px;
    /*outline: 2px #3B73E4 solid;*/
    position: absolute;
    -webkit-transition: height .5s ease;
    -o-transition: height .5s ease;
    transition: height .5s ease;
    justify-content: center;
    /*padding-top: 25px;*/
    display: block;
    font-size: 22px;
    /*position: relative;*/
    width: 100%;
    height: 200px;
    /*border: 2px solid #1a1d24;*/
    border-radius: 20px;
}

.signin-box {
    -webkit-transition: height .5s ease;
    -o-transition: height .5s ease;
    transition: height .5s ease;
    position: relative;

    /*outline: 2px solid rgba(59, 24, 169, 0.76);*/
    display: flex;
    /*transition: translate 0.5s ease-in-out;*/
}

.active {
    /*opacity: 1;*/
    /*margin-left: 0;*/
    display: block;
    /*grid-area: D;*/
    /*flex-direction: column;*/
    /*transform: translateX(0);*/
}

.inactive {
    /*height: 0;*/
    display: none;
    /*grid-area: E;*/
    /*opacity: 0;*/
    /*margin-left: -100%;*/
    /*display: none;*/
    /*transform: translateX(-150px);*/
}

.form-group {
    transition: translate 0.5s ease-in-out;
    margin-top: 15px;
    margin-right: 15px;
    /*display: flex;*/
    flex-direction: row;
    /*justify-content: center;*/
    /*align-items: center*/
}


.login-group {
    display: block;
}

.signin-label {
    /*outline: 2px solid rgba(38, 231, 151, 0.5);*/
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
    display: block;
    height: 15px;
    width: 100px;
    margin-top: 10px;
    margin-left: 35px;
    margin-right: 80px;
    padding-bottom: 30px;
    /*text-align: left;*/
    clear: none;
    float: left;
    /*margin-left: 15px;*/
}

.form-styling {
    /*outline: 2px solid rgba(231, 38, 199, 0.5);*/
    color: var(--color-text);
    width: 130px;
    height: 25px;
    margin-right: 35px;
    margin-top: 5px;

    /*padding-left: 15px;*/
    border-radius: 17px;
    margin-bottom: 25px;
    border-color: var(--color-input-border);
    border-width: 1px;
    float: right;
    background: var(--color-input-background);
}

.custom-checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
    /*border: 100px solid #050e17*/
}

.is-student {
    position: relative;
    padding-right: 175px;
    cursor: pointer;
}

.is-student::after {
    margin-left: 100px;
    content: "";
    position: absolute;
    right: 0;
    width: 18px;
    height: 18px;
    border: var(--is-student-border);
    border-radius: 3px;
    transition: background-color 0.3s;
}

.custom-checkbox:checked + .is-student::after {
    background-color: var(--color-submit-button);
}


.is-student {
    cursor: pointer;
}

.submit-btn {
    cursor: pointer;
    font-weight: lighter;
    text-transform: uppercase;
    font-size: 13px;
    text-align: center;
    color: #ffffff;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 100%;
    height: 35px;
    /*border: 2px solid var(--color-button-border);*/
    border: none;
    border-radius: 14px;
    margin-top: 23px;
    background-color: var(--color-submit-button);
    margin-left: 8px;
    margin-right: 13px;
}

.submit-btn:hover {
    background-color: var(--color-navbar-hover);
}

