

a, button, input{
    cursor: none;
}

.cursor {
    position: fixed;

    pointer-events: none;
    z-index: 9999;
}

.cursor img {
    width: 100%;
    height: 100%;

    transition: opacity 0.2s ease-in-out;
    opacity: 0;
}

.cursor img.active-cursor {

    top: 0;
    left: 0;
    animation: none; /* Отключаем анимацию для обычного курсора */
}

.cursor.hover .active-cursor {
    animation: sparkles 1s infinite ease-out; /* Включаем анимацию только при наведении на активный элемент */
}

@keyframes sparkles {
    from {
        transform: scale(1);
        content: url("src/static/img/default-cursor.png");

    }
    to {
        transform: scale(1.2);
        content: url("src/static/img/default-cursor.png");

    }
}