body[data_theme="dark"] {
    --color-body: #111111;
    --color-background-button: #111111;
    --color-line-head: #3B73E4;
    --color-nth-child: #1a1d24;
    --color-add-task-background: #111111;
    --color-button-backgroung-hover: rgb(31, 31, 31);
    --color-hover-head: #5f95ff;
    --color-text: #f4f4f4;
    --color-add-task-button: #3B73E4;
    --font-main: Arial, Helvetica, sans-serif;
    --color-modal-background: rgba(0, 0, 0, 0.825);
    --color-modal-shadow: rgb(0, 0, 0);
    --color-modal-body: #f9f9f9;
    --color-points: rgb(167, 167, 167);
    --color-border-form: #717171;
    --color-border-checkbox: #3B73E4;
    --color-border-button: #3B73E4;
    /*rgb(86, 86, 86);*/
    --outline-checbox-label: 2px;
    --color-border-checkbox-checked: #3B73E4;
    --size-border-add-task-button: 2px;
    --image-check-mark: url(../static/img/whiteCheckMark.png);
    --color-border-modal-button-hover: #717171;
    --color-num-input: #111111;
    --color-input-border: #515151;
    --color-grade: #3e3e3e;
    --color-grade-nth: #343434;
    --color-button-send-mark: #111111;
    --size-border-mark: 2px;
    --change-theme-duration: 0.7s;
}

body[data_theme="light"] {
    --color-body: #f4f4f4;
    --color-background-button: #ffffff;
    --color-line-head: rgb(238, 238, 238);
    --color-nth-child: rgb(234, 234, 234);
    --color-modal-button-background: rgb(248, 248, 248);
    --color-button-backgroung-hover: #ececec;
    --color-hover-head: #ff5e00;
    --color-text: #111111;
    --color-add-task-button: #111111;
    --font-main: Arial, Helvetica, sans-serif;
    --color-modal-background: rgba(0, 0, 0, 0.5);
    --color-modal-shadow: rgb(102, 102, 102);
    --color-modal-body: #f9f9f9;
    --color-points: rgb(167, 167, 167);
    --color-border-form: #717171;
    --color-border-checkbox: #939598;
    --color-border-button: #515151;
    --outline-checbox-label: 1px;
    --color-border-checkbox-checked: #939598;
    --size-border-add-task-button: 1px;
    --image-check-mark: url(../static/img/blackCheckMark.png);
    --color-border-modal-button-hover: #717171;
    --color-num-input: #ffffff;
    --color-input-border: #515151;
    --color-grade: #bababa;
    --color-grade-nth: #bababa;
    --color-button-send-mark: #ffffff;
    --size-border-mark: 1px;
    --change-theme-duration: 0.7s;
}

body {
    margin: 0;
    background-color: var(--color-body);
    transition: var(--change-theme-duration) ease;
}

.logo {
    width: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;

}

.left_nav {
    display: flex;
}

.right_nav {
    display: flex;
}

.navbar {
    display: flex;
    vertical-align: middle;
    justify-content: space-between;
    padding: 0px 100px;
    border-bottom: 3px solid var(--color-line-head);
}

.exit_image img {
    min-width: 30px;
}

.theme_image img {
    min-width: 30px;
}

.right_nav a img {
    margin-right: 5px;
}

.navbar a {
    vertical-align: middle;
    color: var(--color-text);
    text-decoration: none;
    font-family: var(--font-main);
    font-size: 23px;
    display: flex;
    margin: 20px 20px;
}

.navbar a:hover {
    color: var(--color-hover-head);
}

.theme_images .theme_image:nth-of-type(2) {
    display: none;
}

.theme_images:hover .theme_image:nth-of-type(1) {
    display: none;
}

.theme_images:hover .theme_image:nth-of-type(2) {
    display: block;
}

.theme_image:hover {
    cursor: pointer;
}

.exit_images .exit_image:nth-of-type(2) {
    display: none;
}

.exit_images:hover .exit_image:nth-of-type(1) {
    display: none;
}

.exit_images:hover .exit_image:nth-of-type(2) {
    display: block;
}

.exit_image:hover {
    cursor: pointer;
}

.images_button img {
    width: 30px;
    vertical-align: middle;
    text-align: center;
    margin: 20px 20px;
}

.images_button {
    display: inline-flex;
}

.table_head {
    font-size: 23px;
}

table {
    font-family: var(--font-main);
    font-size: 18px;
    width: 90%;
    table-layout: auto;
    margin: 0px 75px 20px;
    border-collapse: collapse;
    color: var(--color-text);
}

td {
    max-width: 200px;
    padding: 10px 30px;
}

tr:nth-child(odd) {
    background-color: var(--color-body);
}

tr:nth-child(even) {
    background-color: var(--color-nth-child);
}

.page_title {
    text-align: left;
    font-family: var(--font-main);
    font-size: 80px;
    margin: 50px 20px 0px 75px;
    color: var(--color-text);
}

.table_title {
    font-size: 21px;
}

.price {
    display: flex;
}

.sort_sign {
    margin-left: 10px;
}

.sort_sign:hover {
    cursor: pointer;
}

.teacher_task:hover {
    cursor: pointer;
}

.add_task {
    display: flex;
    margin: 10px 75px 30px;
    font-size: 20px;
    font-family: var(--font-main);
    color: var(--color-text);
}

.add_task_button {
    margin: 0px 10px;
    font-size: 20px;
    background-color: var(--color-modal-button-background);
    border-radius: 5px;
    border: var(--size-border-add-task-button) solid var(--color-add-task-button);
    color: var(--color-text);
}

.add_task_button:hover {
    cursor: pointer;
}

.title_settings {
    display: flex;
}

.text_checkbox {
    margin-left: 25px;
    font-size: 18px;
    font-family: var(--font-main);
    margin-bottom: 5px;
    color: var(--color-text);
}

.checkbox {
    padding-left: 25px;
    font-family: var(--font-main);
    position: relative;
}

.checkboxes {
    margin-top: 80px;
}

.checkbox input[type=checkbox] {
    display: none;
}

.checkbox label:after {
    content: '';
    height: 18px;
    width: 18px;
    outline: var(--outline-checbox-label) solid var(--color-border-checkbox);
    background-color: var(--color-background-button);
    border-radius: 5px;
    position: absolute;
    left: 0;
}

.checkbox input[type=checkbox]:checked+label:after {
    background: var(--image-check-mark);
    background-size: 18px;
    outline: var(--outline-checbox-label) solid var(--color-border-checkbox-checked);
    border-radius: 5px;
    height: 18px;
    width: 18px;
}

.group {
    font-family: var(--font-main);
    font-size: 40px;
    margin: 86px 0px 30px 25px;
    color: var(--color-text);
}

.title_group {
    display: flex;
}

.pencil:hover {
    cursor: pointer;
}

.modal {
    overflow-y: scroll;
    background-color: var(--color-modal-background);
    position: absolute;
    visibility: hidden;
    top: -1000px;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 120px 15px;
}

.modal_active {
    text-align: center;
    position: fixed;
    top: 0;
    visibility: visible;
}

.modal_form {
    padding: 80px 15px;
}

.modal__content_deployed {
    max-width: 500px;
    padding: 25px;
    border-radius: 8px;
    position: relative;
    background: var(--color-body);
    box-shadow: 0 4px 5px var(--color-modal-shadow);
    color: var(--color-text);
}


.modal__close-button {
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    position: absolute;
    right: 0;
    top: 0;
    background: none;
    cursor: pointer;
    transition: .3s;
    outline: none;
    color: var(--color-text);
}

.modal__close-button:hover {
    transition: .3s;
    transform: rotate(180deg);
}

.modal__title {
    font-size: 1.5rem;
    margin: 0px 0 0 0;
    font-family: var(--font-main);
    color: var(--color-text);
}

.modal__text {
    text-align: left;
    font-family: var(--font-main);
    font-size: 15px;
    margin: 10px 0 0px;
    color: var(--color-text);
}

.modal__points {
    text-align: right;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 35px;
    margin: -20px 0 0px;
    color: var(--color-points);
}

.button {
    margin: 5px 0 5px;
    padding: 15px 35px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    border-radius: 16px;
    border: 1px solid;
    color: var(--color-text);
    background-color: var(--color-background-button);
    ;
}

.button {
    background-color: var(--color-background-button);
    color: var(--color-text);
    border: var(--size-border-add-task-button) solid var(--color-border-button);

}

.button:hover {
    background-color: var(--color-button-backgroung-hover);
    border: var(--size-border-add-task-button) solid var(--color-border-modal-button-hover);
}

.buttons_modal {
    display: flex;
    margin-top: 30px;
    justify-content: space-between;
}

.button_delete {
    padding: 10px 45px;
}

.modal__content_deployed_delete {
    width: 350px;
}

.modal_delete {
    padding: 200px 15px;
}


.modal__content_deployed_form {
    min-width: 600px;

}

.text_pair {
    font-family: var(--font-main);
    font-size: 23px;
    white-space: nowrap;
    text-align: left;
}

.form_pair {
    display: flex;
    margin-top: 20px;
    margin-right: 20px;
    justify-content: space-between;
}

.form {
    border: 1px solid var(--color-input-border);
    color: var(--color-text);
    background-color: var(--color-num-input);
    padding: 5px;
    border-radius: 3px;
    display: inline-block;
    width: 350px;
    background-color: var(--color-background-button);
}


.button_form {
    margin-top: 40px;
    margin-bottom: 10px;
    padding: 10px 50px;
    background-color: var(--color-background-button);
    min-width: 300px;
}

.number_input {
    margin-right: 305px;
}

.point {
    font-size: 30px;
}

.date {
    display: flex;
    padding: 0 10px;
    margin-left: 55px;
}

.date_input {
    width: 40px;

}

.year {
    width: 60px;
}

.time_input {
    width: 40px;
}

.time {
    display: flex;
    padding: 0 10px;
}

.radio_len {
    font-family: var(--font-main);
    font-size: 20px;
    margin-right: 262px;
}

.radio_lengs {
    padding: 0px 0px;
}

.button_delete {
    padding: 10px 45px;
}

.modal__content_deployed_back_change {
    width: 350px;
}

.modal_back_change {
    padding: 200px 15px;
}

input {
    color: var(--color-text);
    background-color: var(--color-num-input);
    border: 1px solid var(--color-input-border);
    border-radius: 3px;
    font-family: var(--font-main);
}

.grade {
    font-family: var(--font-main);
    font-size: 18px;
    border: 1px solid var(--color-grade);
    background-color: var(--color-nth-child);
}

.grade_dark {
    border: 1px solid var(--color-grade-nth);
    font-family: var(--font-main);
    font-size: 18px;
    background-color: var(--color-body);
}

.task_score {
    margin-right: 292px;
}

summary::-webkit-details-marker {
    display: none;
}

details[open] .modal__text_summ{
    display: none;
}

details{
    margin-bottom: 30px;
}

/* Chrome, Opera, Safari */
details summary::-webkit-details-marker {
    display: none;
}

details :focus {
    outline: 0;
}

/* Firefox */
details,
summary {
    display: block;
}

details summary:before {
    content: "";
}

details[open] summary:before {
    content: "";
}

summary::after {
    content: "...";
    float: right;
    margin: -20px 10px 0 0;
    padding: 0;
    text-align: right;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 35px;
    color: var(--color-points);
}

details[open] summary::after {
    content: "-";
}

.limit_modal {
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin: 20px 0px 0px;
    color: var(--color-text);
}

.button_forbidden {
    display: none;
}

.button_send_mark {
    position: relative;
    font-size: 17px;
    margin: 5px 0 5px;
    padding: 7px 30px;
    left: 1185px;
    border: var(--size-border-mark) solid var(--color-border-button);
    background-color: var(--color-button-send-mark);
}

.button_send_mark:hover {
    border: var(--size-border-mark) solid var(--color-border-button);
    background-color: var(--color-button-backgroung-hover);
}