:root {
    --color-body: #111111;
    --color-background-button:#111111;
    --color-line-head: #FE28A2;
    --color-nth-child: #1a1d24;
    --color-add-task-background:#111111;
    --color-button-backgroung-hover:rgb(31, 31, 31);
    --color-hover-head: #FE28A2;
    --color-text:#FE28A2;
    --color-add-task-button: #FE28A2;
    --font-main: Arial, Helvetica, sans-serif;
    --color-modal-background: rgba(0, 0, 0, 0.825);
    --color-modal-shadow: rgb(0, 0, 0);
    --color-modal-body:#f9f9f9;
    --color-points:rgb(167, 167, 167);
    --color-border-form:#717171;
    --color-border-checkbox:#FE28A2;
    --color-border-button:#FE28A2 ; /*rgb(86, 86, 86);*/
    --outline-checbox-label:2px;
    --color-border-checkbox-checked:#FE28A2;
    --size-border-add-task-button: 2px;
    --image-check-mark:url(../static/img/whiteCheckMark.png);
    --color-border-modal-button-hover:#717171;
    --color-num-input:#111111;
    --color-input-border:#515151;
    --color-grade:#3e3e3e;
    --color-grade-nth:#343434;
    --color-button-send-mark:#111111;
    --size-border-mark:2px;
}
